mixin card(cards)
	- var i=0;
	- while(i<cards.length)
		.row
			- var j=0;
			- while(j<3 && i<cards.length)
				.col.s12.m12.l4
					.card.z-depth-4.neo-research
						.card-image.waves-effect.waves-block.waves-light
							img.activator(src=cards[i].images[0]._.image.src())
						.card-content
							span.card-title.activator.grey-text.text-darken-4=cards[i].title
								i.material-icons.right more_vert
							p
								a(href='/researches/detail/#{cards[i]._id}') 查看详情
						.card-reveal
							span.card-title.grey-text.text-darken-4=cards[i].title
								i.material-icons.right close
							p
							| !{cards[i].content.brief.html}
								
					- j++
					- i++