mixin post(posts, postStyles)
    if posts && posts.length
        if posts.length > 1
            each post in posts
                .row
                    .card.z-depth-4(class=postStyles)
                       .card-content
                           span.card-title=post.title
                            .spinner
                                .neo-post-content=post.content.brief
                            .card-action
                                a(target="_blank", href=post.url) 详细
        else
            -var post = posts[0]
            .row
                .card.z-depth-4(class=postStyles)
                    .card-content
                        span.card-title=post.title
                        .spinner
                            .neo-post-content
                                if post.image
                                  img(src=post.image)
                                | !{post.content.detail}
                        .card-action
                            // 添加微博分享
                            a(href='#') 分享

