mixin post(posts, postStyles,number)
    -var defaultPost={images:[],title:'新闻标题',content:{brief:'新闻摘要', extended:{html:'<p>新闻正文</p>'}}};
    if !posts || posts.length == 0
        -posts = [defaultPost, defaultPost, defaultPost];
    if number == 'posts'
        each post in posts
            .row
                .card.z-depth-4(class=postStyles)
                   .card-content
                       span.card-title=post.title
                        .spinner
                          .neo-post-content
                            |!{post.content.brief}
                    .card-action
                        a(href='#') 展开全文
    if number == 'post'
        //由于暂时没有做好传单个文章参数，这里的each暂时没有去掉
        each post in posts
            .row
                .card.z-depth-4(class=postStyles)
                   .card-content
                       span.card-title=post.title
                        .spinner
                          .neo-post-content
                            |!{post.content.extended.html}